@media (max-width : 950px) {
    
    .resume{
        .boxes{
            grid-template-columns: 1fr 1fr;
        }
    }

    .contact{

        .names{
            input{
                width: 44vw;
            }
        }

        .rest{
            input{
                width: 90vw;
            }
            
            #text{
                width: 90vw;
            }
        }
    }
}

@media (max-width: 590px) {
    
    .resume{
        .boxes{
            grid-template-columns: 1fr;
        }
    }

    .names{
        flex-direction: column;
        width: 100%;
    }

    #fname, #lname{
        width: 92vw;
    }

    .welcome{
        margin-top: 40px;
    }

    .nav-bar{
        .navigation{
            // display: none;
        }
        a{
            font-size: 8px;
            margin: 2vw;
        }
    }

    .banner-image-text{
        height: 95vh;
    }


    .hamburger{
        margin: 20px 30px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        .line{
            width: 50px;
            height: 6px;
            background-color: rgb(255, 255, 255);
            margin: 15px;
        }
    }

    .nav-links.open{
        clip-path: circle(180vh at 90% -10%);
    }

    .nav-links{
        margin-top: 0px;
        border-radius: 0px;
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(0, 25, 48);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        // display: none;
        clip-path: circle(0vh at 90% -20%); //above
        transition: all 0.8s ease-in-out;
        align-items: center;
    }

}